@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
    margin: 0;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    z-index: 999;
}

.nav-left {
    margin-right: auto;
    margin-left: 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.nav-heading {
    color: #18b25b;
    font-size: 22px;
}

.nav-right {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
    margin-top: 20px;
}

.nav-link {
    margin-right: 75px;
    color: #18b25b;
    font-size: 18px;
    text-decoration: none;
    align-self: center;
}

.landing {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(bg.jpg);
}
.header {
    color: #18b25b;
    margin-top: 300px;
    font-size: 60px;
    margin-bottom: 15px;
}
.subheader {
    color: white;
    font-size: 24px;
    margin-bottom: 25px;
}
.qs {
    padding: 15px 50px;
    color: white;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 32px;
    text-decoration: none;
    text-transform: uppercase;
    border: 3px solid #18b25b;
}

.about {
    width: 75%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    background-color: white;

    padding-top: 150px;
    /*margin-top: 200px;*/
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
}
.about-grid {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 5%;
    row-gap: 35px;
}
.about-card {
    background: #f5f6f7;
    border-radius: 12px;
    padding: 25px;
    position: relative;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}
.about-head {
    font-size: 22px;
    color: #18b25b;
    margin-bottom: 25px;
}
.about-text {
    font-size: 16px;
    color: black;
}
.start {
    width: 100%;
    height: 100vh;
    background-color: #f5f6f7;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
}
.footer-branding {
    margin-top: auto;
    margin-bottom: auto;
}
.footer-credits {
    color: black;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
}
.footer-github {
    margin-left: auto;
    padding-left: 0;
}
.icon {
    width: 35px;
}

@media only screen and (max-width: 1300px) {
    .nav-right {
        display: none;
    }
    .footer {
        display: flex;
        flex-direction: column;
    }
}




















/* tony, jeff */
h1 {
    margin: auto;
    margin-top: 5% !important;
    width: 90%;
    max-width: 527px;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 12px;
}
th, td {
    border-radius: 12px;
    font-size: 3vw;
    text-align: center;
    vertical-align: bottom;
    border: 2.4px solid black;
    max-width: 150px;
    width: 30%;
    font-family: 'Lato', sans-serif;
}

@media screen and (min-width: 600px) {
    th, td {
       font-size: 30px;
    }
}

th, td:hover {
    color: orange;
}

table {
    border-spacing: 15px;
}

.prod-table {
    margin-left: auto;
    margin-right: auto;
}
/*
body {
    background-color:  #91f2bb;
    background-image: linear-gradient(#91f2bb, #18b25b)
}*/

.e-prod {
    width: 90%;
    height: auto;
}